@media (min-width: 601px)  {
    main{
        background-color: whitesmoke;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    
    .navegador{
        font-size: xx-large;
        grid-column: 1/2;
        grid-row: 1/7;
        height: 100%;
        justify-content: space-evenly;
    }

    .boxop{
        color: #FFDA3A;
        height: 25%;
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .cuerpo{
        background-color: #F2FDFF;
        grid-column: 2/6;
        grid-row: 1/7;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    main{
        background-color: whitesmoke;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 15cap);
        
    }
    
    .navegador{
        grid-column: 1/6;
        grid-row: 1/2;
        display: flex;
        width: 100%;
    }

    .boxop{
        color: #FFDA3A;
        border: black 5px solid;
        width: 100%;
        text-align: center;
    }

    .cuerpo{
        background-color: #F2FDFF;
        grid-column: 1/6;
        grid-row: 2/6;
    }
}

header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #FFDA3A;
}

.alerce{
    background-color: #35682D;
}

.nogal{
    background-color: #705335;
}

.ficus{
    background-color: #51D1F6;
}

.mipro{
    background-color: #CF1020;
}

footer{
    background-color: #FFDA3A;
    justify-content: center;
    text-align: center;
    padding: 10px;
}