.contenedor{
    background-color: whitesmoke;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    
}

.box{
    border: 0px solid black;
    font-size: 30px;
    text-align: center;
    
}

.encabezado{
    background-color:#FFDA3A;
    grid-column: 1/11;
    grid-row: 1/2;
    
    display: flex;
}



.navbar{
    color: #485730;
    background-color: #FFDA3A;
    margin: auto;

}


.cuerpo{
    background-color: #F2FDFF;
    grid-column: 2/11;
    grid-row: 2/6;

}

.navegador{
    background-color: whitesmoke;
    grid-column: 1/2;
    grid-row: 2/6;
    color: #FFDA3A;
   
}

.boxop{
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    
}

.alerce{
    background-color: #35682D;
}

.nogal{
    background-color: #705335;
}

.ficus{
    background-color: #51D1F6;
}

.mipro{
    background-color: #CF1020;
}

.cuerpo{
    display: flex;
    
    width: fit-content;
}
